#start-screen-header{
  background-color: #fadddd;
  border-radius: 15px;
  text-align: left;
  padding: 1em;
}
#start-order-card {
  border-radius: 15px;
  padding: 20px;
}
#pizza-logo {
  max-width: 100%;
}

#payment-button-row {
  margin-top: 5%;
  padding-bottom: 15px;
}

#about-text {
  padding: 1rem 0rem;
}
#start-order-when-ready {
  margin-top: 50px;
  margin-bottom: 15px;
  text-align: center;
}
#choose-order-type {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
#pizza-size {
  width: 300px;
}
#pickup-details-card {
  text-align: center;
}
.delivery-type {
  background-color: #dadada;
}
.delivery-type:hover {
  background-color: #fadddd;;
}
.delivery-type:focus {
  color: #fff;
  background-color: #212529;
  border-color: #004386;
  box-shadow: 0 0 0 0.25rem rgb(250 221 221);
}

#start-order-button {
  margin-top: 2%;
}
#pizza-ordering-container, #start-order-screen, #order-placed-screen {
  padding: 2%;
  margin-top: 3%;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 25%) 0px 0px 10px;
}

#order-details-head {
  text-align: right;
  margin-bottom: 1em;
  background-color: #fadddd;
  padding: 15px;  
  padding-right: 30px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 25%) 0px 10px 10px;
}
#order-place-head {
  text-align: left;
  margin-bottom: 1em;
  background-color: #fadddd;
  padding: 15px;
  padding-left: 30px;
  border-radius: 15px;
  box-shadow: rgb(0 0 0 / 25%) 0px 10px 10px;
}
#pizza-ordering-card-container {
  padding: 2%;
}
.pizza-ordering-header {
  text-align: center;
}
#ordering-instructions {
  margin-bottom: 15px;
}

.pizza-menu-columns {
  border: 1px solid #d0d0d0;
  margin-top: 2%;
  padding-top: 1%;
  border-radius: 15px;
}
#add-pizza {
  padding: 0px 15px 15px 15px;
}
#add-pizza-button {
  margin-top: 5%;
}

#toppings-menu {
  margin-top: 3%;
}
.order-row {
  padding-bottom: 15px;
}

.order-col {
  border-right: 1px solid black;
}

.order-divide {
  margin-top: 5px;
  margin-bottom: 15px;

}
.subtext {
  font-size: .85em;
}
.hidden {
  display: none;
}
.remove-pizza-button,.remove-pizza-button:hover {
  padding: 0;
  background: white;
  border: 0px solid white;
  color: black;
}

#place-your-order-container {
  text-align: center;
  margin-top: 25px;
}
